body,html{
	background: white !important;
}
.logo-text{
	height: 40px;
	width: 100px;
}
a{
	text-decoration: none !important;
}
nav{
	padding: 10px 30px 0px 30px !important;
}
nav .navbar-nav li a{
	color: black !important;
	font-family: 'Open Sans';
	font-size: 15px;
 }
 li{
 	padding-left: 20px !important;
 }
 .trial-button, .login-button{
 	font-family: 'Open Sans';
 	font-size: 17px !important;
 	padding: 20px;
 	border-radius: 30px;
 }
 .trial-button{
 	background-image: linear-gradient(to right, #1fffb1 , #44ffef,#1d70ff,#893aff);
 }
  .login-button{
  	background-color: #7D06E3;
 }

div.profile-info{
	display: flex;
}

div.artist-panel{
	margin: 10px 20px 10px 40px !important;
	border-radius: 15px !important;
	padding: 30px !important;
	font-family: 'Open Sans' !important;
	text-align: center;
	align-items: center;
	justify-content: center;
	background: linear-gradient(180deg, rgba(2, 119, 189, 0.8) 0%, rgba(170, 0, 255, 0.8) 100%);
	width: 25% !important;

}
div.artist-panel p{
	margin: 0 !important;
	padding: 0 !important;
	text-align: left;
}
.artist-img{
	border-radius: 50% !important;
	height: 200px;
	width: 200px;
}
.artist-rating{
	margin-top: 8px !important;
	margin: auto;
	width: 58%;
	background-color: white;
	border-radius: 6px !important;
	padding: 5px !important;
}

h1{
	font-family: 'Archivo Black' !important;
	margin: 30px 40px 30px 40px !important;
	color: #212121 !important;
}

div.artist-info{
	margin: 10px 20px 10px 20px !important;
	padding: 10px !important;
	font-family: 'Open Sans' !important;
	align-items: center;
	justify-content: center;
	width: 25% !important;
	color: white !important;
}

div.artist-info h2{
	font-size: 24px;
	color: #BDBDBD !important;
}

div.artist-info p{
	font-family: 'Abhaya Libre ExtraBold' !important;
	/*font-size: 44px;*/
	color: #212121 !important;
}








