body{
    background-image: url("https://media04.meinbezirk.at/event/2018/07/13/9/81549_XXL.jpg"); 
    background-repeat: no-repeat;
    max-height: 100%;
    min-height: 80%; 
    background-position: center top;
    background-size: cover;

}

.signUpNav{
    /* logo w/ text - white */
    position: absolute;
    left: 7.29%;
    right: 81.88%;
    top: 17.86%;
    bottom: 25%;
}

.signUpNav img{
    width: 208px;
    height: 77.14px;
}
.container{
    /*center*/
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;

    width: 300px; 
    line-height: 4em;
    background-color: white;
    border-radius: 25px;
    padding: 2em 3em;
    box-shadow: 0px 14px 60px rgb(211, 211, 211);
    font-family: 'Open Sans', sans-serif !important;
    font-size: 1em;
}

.loginIntro{
    text-align: center;
}

.accountTypeSelection{
    font-family: 'Archivo';
    font-size: 1.8em;
    margin-bottom: 0.5em;
    text-align: center;
 }

.textFields{
    line-height: 4.2em;   
    border: 0px green solid; 
    text-align: right;
    padding: 0px;
}
.textFields label{
    float: left;
    width: 30%;
    box-sizing: border-box;
}

.textFields input{
    border: 1.4px rgb(201, 201, 201) solid;
    border-radius: 10px;
    width: 70%;
    height: 50px;
    padding: 10px;
    margin-left: 0.6em;
    font-size: 1em; 
    box-sizing: border-box;
}

.submitButtons{
    margin-top: 2em;
    border: 0px green solid;
    text-align: center;
    font-size: 1em;
}

.submitButtons input{
    font-size: 1em;

    border: none;
}

#login{
    margin-left: 10%;
    color: white;
    border-radius: 100em;
    padding: 0.7em 1.3em;
    font-size: 1.1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    background-color:#00E88F;
    border: none;
}

#login:hover{
    background-color: #008C7B;
    /*    border-radius: 100em;
    font-weight: bold;
    color: white; */

}

#signUp{
    color: grey;
}

#signUp:hover{
    color: black;
}



