input:focus { outline: none; }
button:focus { outline: none; }

button:hover{
    cursor: pointer;
}

 
 h1{
    text-align: left;
    padding-top: 20px;
    margin-bottom: 60px;
    font-family: 'Archivo Black';
    font-size: 36px;
    line-height: 40px;
}

body, html{
    height: 100%;
    margin: 0;
}



.bgImage{
    background-image: url("https://images.unsplash.com/photo-1554283508-acb4d08a7717?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80"); 
    height: 100%;
    min-height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    align-content: center;
    position: absolute;
    width: 100%;
    padding-bottom: 10px;
    border: 0px red solid;
    display: inline-block;

    
}

header .logo{ 
    float: left;
    margin-top: 12px;
    margin-left: 60px;
    height: 60px;
}

header .logo:hover{ 
    cursor: pointer;
}

header button{
    color: white;
    border-radius: 100em;
    padding: 0.7em 1.3em;
    font-size: 1.1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    background-image: linear-gradient(-90deg, #BC00FF, #00AAFB, #00E88F);
    border: none;
}

header .trialButton{
    position: relative;
    float: left;
    border: 0px red solid;
    height:46px;

    margin-top: 17px;
}

header a{
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: bold;
    margin-right: 30px;
}

header nav{
    margin-top: 32px;
    margin-right: 40px;
    float: right;
    border: 0px red solid;
}

header img{
    width: 150px;
    margin-right: 20px;
}

header ul{
    margin: 0;
    padding: 0;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}



.container{
    /*center*/
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    top: 52%;
    left: 50%;

    width: 50%; 
    max-width: 520px;
    min-width: 380px;
    background-image: #FAFAFA;
    border-radius: 30px;
    padding: 10px 40px;
    background-image:  url(./img/groovy.png), linear-gradient(-0deg, #ffffff, #FAFAFA);
    background-position-x: 90%, center;
    background-position-y: 10%, center;
    background-repeat: no-repeat, no-repeat;
    background-size: 150px, auto;
    box-shadow: 0px 10px 40px #424242;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1em;
}


.accountTypeSelection{
    font-family: 'Archivo Black', ;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    white-space:nowrap;
}

 .form-radio{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: rgb(230, 230, 230);
     color: #666;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     margin-right: 6px;
     margin-left: 2em;
     outline: none;
     cursor: pointer;     
}
.form-radio:checked::before{
     position: absolute;
     font-size: 1.6em;
     font-family: 'Open Sans', Arial, sans-serif;
     left: 7px;
     top: 5px;
     content: '✓';
     transform: rotate(0deg);
     color: black;
     opacity: 0.5;
}

.form-radio:hover{
     background-color: #BDBDBD;
}

.form-radio:checked{
     background-color: #00E88F;
}

label{
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: bold;
     color: #333;
     /*
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     */
}



.textFields{
    line-height: 3.5em;   
    border: 0px green solid; 
    text-align: right;
    padding-right: 0px;
    white-space: nowrap;
    margin-left: 6%;
    margin-right: 16%;
}


.textFields input{
    border: 1.4px rgb(201, 201, 201) solid;
    border-radius: 100px;
    width: 60%;
    height: 26px;
    padding: 0.5em 1em;
    font-size: 1em; 
    margin-left: 10px;
    /*margin: 0px 8px;*/
    
}

.submitButtons{
    margin-top: 2em;
    margin-bottom: 1.6em;
    border: 0px green solid;
    text-align: center;
    font-size: 1em;
}

.submitButtons input{
    font-size: 1em;
    border: none;
}

#login{
    margin-left: 10%;
    color: white;
    border-radius: 100em;
    padding: 0.7em 1.3em;
    width: 130px;
    font-size: 1.1em;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: bold;
    background-color:#00E88F;
    border: none;
}

#login:hover{
    background-color: #008C7B;
    cursor: pointer;
    /*    border-radius: 100em;
    font-weight: bold;
    color: white; */

}

#signUp{
    color: grey;
    background-color: Transparent;
}

#signUp:hover{
    color: black;
    cursor: pointer;
}



