.container{
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px; 
    line-height: 5em;
    /*box-align: center;*/
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0px 14px 60px rgb(211, 211, 211);
    font-family: 'Open Sans', sans-serif !important;
    font-size: 1em;
}

.accountTypeSelection{
    font-family: 'Archivo Black';
    font-size: 2em;
 }

.textFields{
    margin: auto;
    text-align: left; 
    line-height: 2em;
}

.submitButtons input{
    background-color: white; /* Green */
    border: 1px grey solid;
    color: grey;
    padding: 10px 50px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 3px;
}

.submitButtons{
    line-height: 60px;
}


