body{
    background-image: url("https://media04.meinbezirk.at/event/2018/07/13/9/81549_XXL.jpg"); 
    background-repeat: no-repeat;
    max-height: 100%;
    min-height: 80%; 
    background-position: center top;
    background-size: cover;

}

.signUpNav{
    /* logo w/ text - white */
    position: absolute;
    left: 7.29%;
    right: 81.88%;
    top: 17.86%;
    bottom: 25%;

}

.signUpNav img{
    width: 208px;
    height: 77.14px;
}
.container{
    /*center*/
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;

    width: 400px; 
    line-height: 3em;
    background-color: white;
    border-radius: 25px;
    padding: 2em 3em;
    box-shadow: 0px 14px 60px rgb(211, 211, 211);
    font-family: 'Open Sans', sans-serif !important;
    font-size: 1em;
}

.accountTypeSelection{
    font-family: 'Archivo Black';
    font-size: 1.8em;
    margin-bottom: 0.5em;
    text-align: center;
 }

.textFields{
    line-height: 4em;   
    border: 0px green solid; 
    text-align: right;
    margin-right: 2em;
}

.textFields input{
    border: 1.4px rgb(201, 201, 201) solid;
    border-radius: 10px;
    padding: 14px 50px;
    margin-left: 0.6em;
    font-size: 1em; 
}

.submitButtons{
    margin-top: 2em;
    border: 0px green solid;
    text-align: center;
    font-size: 1em;
}

.submitButtons input{
    font-size: 1em;
    padding: 14px 30px;
    border: none;
}

#signUp{
    background-color: #00E88F;
    border-radius: 100em;
    font-weight: bold;
    color: white;

}

#login{
    color: grey;
}




